<div class="d-flex h-100 ">
    <!--menu left-->
    <!-- Menu-->
    <app-navbar-left></app-navbar-left>
    <!--End Menu-->
    <!-- Content Right -->
    <div class="w-100 " id="content-right">
        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="d-flex justify-content-between w-100 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
            <div class="main-content w-100">
                <!--Acount User-->
                <div class="acount-user float-right">
                    <a class="login" routerLink="/login" (click)="logOut()" >PPC Admin  <i class="far fa-user ml-1"></i> </a>
                </div>
               <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

