@font-face {
  font-family: 'KPMG';
  src: url("./../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'KPMGBold';
  src: url("./../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.modal-backdrop {
  background-color: #5566ff; }

a {
  color: #90959a; }

.bg-audit {
  background: #0191d8 !important; }

.bg-tax {
  background: #bc1f4a !important; }

.bg-advisory {
  background: #eaaa00 !important; }

.bg-centralsrv {
  background: #c3007b !important; }

html {
  height: 100%; }
  html body {
    font-family: KPMG !important;
    /*font-weight: 300;
    height: 100%;*/
    background: #f1f1f1;
    min-width: 1366px;
    overflow-x: scroll; }
    html body #menuLeft, html body #menuLeft_responsive {
      background-image: linear-gradient(-218deg, #6A11CB 0%, #2575FC 100%);
      width: 210px;
      position: fixed;
      left: 0px;
      z-index: 1030;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      html body #menuLeft .brands-kpmg, html body #menuLeft_responsive .brands-kpmg {
        position: relative; }
        html body #menuLeft .brands-kpmg .name-brands, html body #menuLeft_responsive .brands-kpmg .name-brands {
          font-weight: bold;
          position: relative;
          font-size: 38px;
          font-family: KPMGBold; }
          html body #menuLeft .brands-kpmg .name-brands:hover, html body #menuLeft_responsive .brands-kpmg .name-brands:hover {
            text-decoration: none; }
          html body #menuLeft .brands-kpmg .name-brands:after, html body #menuLeft_responsive .brands-kpmg .name-brands:after {
            content: "";
            width: 21px;
            height: 3px;
            background: #ffffff;
            position: absolute;
            left: 35%;
            bottom: -5px;
            display: block; }
        html body #menuLeft .brands-kpmg .sologan-brands, html body #menuLeft_responsive .brands-kpmg .sologan-brands {
          text-transform: uppercase;
          font-size: 15px;
          word-spacing: 4px;
          margin-top: 8px; }
      html body #menuLeft .list-menu ul .nav-item, html body #menuLeft_responsive .list-menu ul .nav-item {
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer; }
        html body #menuLeft .list-menu ul .nav-item .icon-nav, html body #menuLeft_responsive .list-menu ul .nav-item .icon-nav {
          width: 24px !important;
          height: auto !important; }
        html body #menuLeft .list-menu ul .nav-item a, html body #menuLeft_responsive .list-menu ul .nav-item a {
          font-weight: bold; }
        html body #menuLeft .list-menu ul .nav-item:hover, html body #menuLeft .list-menu ul .nav-item.active, html body #menuLeft_responsive .list-menu ul .nav-item:hover, html body #menuLeft_responsive .list-menu ul .nav-item.active {
          background: #ffffff;
          border-radius: 5px; }
          html body #menuLeft .list-menu ul .nav-item:hover a, html body #menuLeft .list-menu ul .nav-item.active a, html body #menuLeft_responsive .list-menu ul .nav-item:hover a, html body #menuLeft_responsive .list-menu ul .nav-item.active a {
            color: #4a494a !important;
            font-size: 14px; }
          html body #menuLeft .list-menu ul .nav-item:hover i, html body #menuLeft .list-menu ul .nav-item.active i, html body #menuLeft_responsive .list-menu ul .nav-item:hover i, html body #menuLeft_responsive .list-menu ul .nav-item.active i {
            color: #b2b2b2; }
    html body #menuLeft_responsive {
      width: 60px !important;
      left: -61px; }
      html body #menuLeft_responsive .brands-kpmg .name_brand {
        font-size: 17px;
        font-family: KPMGBold;
        display: block;
        transform: translate(-45px, 18px); }
      html body #menuLeft_responsive .nav-item {
        height: 39px;
        margin-bottom: 7px !important;
        width: 39px;
        border-radius: 50% !important; }
    html body .navbar-toggle {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 24px;
      cursor: pointer;
      color: white !important;
      border-color: transparent;
      transition: .5s; }
    html body #menuLeft.toggle-menu {
      left: -210px; }
      html body #menuLeft.toggle-menu .navbar-toggle {
        right: -52px;
        color: #186bc3 !important; }
    html body #menuLeft_responsive.toggle-menu {
      left: 0px; }
    html body #content-right {
      margin-left: 240px;
      min-width: 1050px;
      background: #f1f1f1;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      html body #content-right .acount-user {
        transform: translateY(-50px); }
        html body #content-right .acount-user a {
          font-size: 13px;
          cursor: pointer;
          margin-right: 35px;
          font-weight: bold; }
          html body #content-right .acount-user a i {
            font-size: 18px; }
      html body #content-right .title {
        color: #505050;
        font-size: 40px; }
      html body #content-right .content-top {
        z-index: 9;
        position: relative; }
        html body #content-right .content-top .search-btn #icon-search {
          cursor: pointer;
          transform: translateY(12px); }
        html body #content-right .content-top #multi-select {
          border: none;
          background-color: transparent; }
          html body #content-right .content-top #multi-select .menu .item {
            font-size: 16px; }
      html body #content-right .show-content-right .nav-tabs {
        position: relative; }
        html body #content-right .show-content-right .nav-tabs .nav-item {
          border: none; }
          html body #content-right .show-content-right .nav-tabs .nav-item .nav-link {
            padding: 8px 75px;
            font-weight: bold; }
            html body #content-right .show-content-right .nav-tabs .nav-item .nav-link :hover {
              font-weight: bold !important; }
          html body #content-right .show-content-right .nav-tabs .nav-item .nav-link.active {
            background: transparent !important;
            border-color: transparent;
            border-bottom: 3px solid #4b39db;
            font-weight: bold; }
      html body #content-right .show-content-right .tab-content {
        background: #ffffff; }
        html body #content-right .show-content-right .tab-content .tab-pane .current-report {
          position: relative;
          border-radius: 30px !important;
          z-index: 8 !important;
          background: #ffffff;
          font-weight: bold; }
          html body #content-right .show-content-right .tab-content .tab-pane .current-report i {
            cursor: pointer; }
        html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group {
          position: relative;
          z-index: 999; }
          html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom {
            width: 50px !important;
            position: absolute;
            right: 20px;
            top: 0; }
            html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom .size-map {
              width: 35px; }
            html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom .maximise {
              border-bottom: 0px;
              position: relative; }
              html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom .maximise:after {
                content: '';
                height: 1px;
                width: 75%;
                background: grey;
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -1px; }
            html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom .minimise {
              border-top: 0px; }
        html body #content-right .show-content-right .tab-content .tab-pane .map {
          height: 500px; }
          html body #content-right .show-content-right .tab-content .tab-pane .map::-webkit-scrollbar {
            display: none; }
          html body #content-right .show-content-right .tab-content .tab-pane .map #map-office {
            z-index: 0 !important; }
          html body #content-right .show-content-right .tab-content .tab-pane .map .avatar {
            z-index: 1 !important;
            position: relative;
            border: 2px solid red; }

.ui.multiple.dropdown > .label {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  font-size: 14px;
  color: white;
  margin-right: 18px;
  min-width: 169px;
  position: relative;
  padding: 10px 25px; }

i.icon.delete:before {
  content: url("./../images/icon/close.png") !important; }

.sidenav {
  height: 100%;
  max-width: 316px;
  position: fixed;
  top: 0;
  right: -420px;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
  z-index: 10001;
  box-shadow: 0px 0px 30px 0px grey;
  font-family: KPMGBold; }
  .sidenav::-webkit-scrollbar {
    width: 5px; }
  .sidenav .sideBarSearch .fas {
    font-size: 21px;
    cursor: pointer; }
  .sidenav .sideBarSearch .closebtn {
    font-size: 40px;
    font-family: KPMG !important; }
  .sidenav .member-infor-detail .avatar {
    border: 2px solid red;
    width: 80px;
    height: 80px; }
  .sidenav .member-infor-detail .more-detail .title-profile {
    font-size: 13px; }
  .sidenav .member-infor-detail .more-detail .name {
    color: #6a6a6a;
    font-size: 22px; }
  .sidenav .member-infor-detail .more-detail .position {
    color: #939393;
    font-size: 11px; }
  .sidenav .member-infor-detail .more-detail .sub-name {
    color: #6c757d8f;
    font-size: 11px !important;
    font-weight: bold;
    font-family: KPMG !important; }
  .sidenav .title {
    display: inline-block;
    text-align: center;
    font-size: 1em !important;
    width: 90px; }
  .sidenav .dob {
    color: #676767;
    border-top: 2px solid #cabebe6b;
    border-bottom: 2px solid #cabebe6b;
    font-size: 15px; }
  .sidenav .contact {
    color: #676767;
    font-size: 15px;
    border-bottom: 2px solid #cabebe6b; }
  .sidenav .top-favorite .favarite-title {
    font-weight: bold;
    font-size: 17px; }
  .sidenav .top-favorite .title {
    text-align: left;
    font-size: 13px !important; }
  .sidenav .top-favorite .progress-bar {
    height: 9px;
    border-radius: 20px; }
  .sidenav .top-favorite .number-percent {
    color: #b7204d; }
  .sidenav .btn-email {
    background: #e67787;
    margin-top: 3em;
    color: white;
    font-size: 25px;
    border-radius: 15px; }
  .sidenav .more-detail-lg {
    text-align: right;
    cursor: pointer;
    color: #90959a; }
    .sidenav .more-detail-lg img {
      cursor: pointer; }
  .sidenav .total-profile .one-profile .title-profile {
    font-size: 18px;
    font-weight: bold; }
  .sidenav .total-profile .one-profile .list-group .list-group-item .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    float: left; }
  .sidenav .total-profile .one-profile .list-group .list-group-item:first-child {
    border-top: 0px solid #ffffff; }
  .sidenav .total-profile .one-profile .list-group .list-group-item:last-child {
    border-bottom: 1px solid #8080803d; }

.detail-member .modal-dialog .modal-content {
  height: 800px !important;
  overflow: hidden;
  border-radius: 15px !important; }
  .detail-member .modal-dialog .modal-content .left .member-infor-detail .avatar {
    border: 3px solid red;
    width: 80px !important;
    height: 80px !important; }
  .detail-member .modal-dialog .modal-content .left .member-infor-detail .more-detail .name {
    font-size: 25px;
    color: #6a6a6a; }
  .detail-member .modal-dialog .modal-content .left .member-infor-detail .more-detail .position {
    color: #939393;
    font-size: 13px; }
  .detail-member .modal-dialog .modal-content .left .member-infor-detail .more-detail .sub-name {
    font-size: 12px;
    font-family: KPMG !important; }
  .detail-member .modal-dialog .modal-content .left .title {
    width: 30%;
    display: inline-block;
    text-align: right;
    float: left; }
  .detail-member .modal-dialog .modal-content .left .dob {
    color: #676767;
    border-top: 2px solid #cabebe6b;
    border-bottom: 2px solid #cabebe6b; }
  .detail-member .modal-dialog .modal-content .left .contact {
    color: #676767;
    border-bottom: 2px solid #cabebe6b; }
    .detail-member .modal-dialog .modal-content .left .contact .list-number .number {
      font-size: 16px; }
  .detail-member .modal-dialog .modal-content .left .top-favorite .favarite-title {
    font-size: 18px;
    font-weight: bold; }
  .detail-member .modal-dialog .modal-content .left .top-favorite .title {
    text-align: left;
    width: 42%; }
  .detail-member .modal-dialog .modal-content .left .top-favorite .progress-bar {
    width: 40px;
    height: 9px;
    border-radius: 20px; }
  .detail-member .modal-dialog .modal-content .left .top-favorite .number-percent {
    color: #b7204d; }
  .detail-member .modal-dialog .modal-content .left .btn-email {
    background: #e67787;
    margin-top: 85px;
    color: white;
    font-size: 18px;
    border-radius: 15px; }
  .detail-member .modal-dialog .modal-content .right {
    padding-bottom: 20px;
    overflow-y: scroll;
    height: 90% !important; }
    .detail-member .modal-dialog .modal-content .right table thead th {
      border-top: 0px !important;
      cursor: pointer; }
    .detail-member .modal-dialog .modal-content .right table tbody {
      height: 500px;
      overflow-y: scroll; }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.chat .icon-chat {
  cursor: pointer !important;
  transform: translateY(-11px); }

#chat-box {
  box-shadow: 1px 1px 9px 1px #888888;
  max-width: 400px !important;
  width: 400px;
  height: 587px;
  right: -410px;
  top: unset;
  bottom: 50px;
  padding: 0 !important; }
  #chat-box .chat {
    position: relative; }
    #chat-box .chat img {
      cursor: pointer !important; }
    #chat-box .chat .title-chat {
      padding: 18px; }
      #chat-box .chat .title-chat .title-name {
        font-size: 20px; }
    #chat-box .chat .rules {
      position: absolute;
      text-transform: uppercase;
      top: 71px;
      right: 25px;
      color: #90959a;
      font-size: 14px;
      cursor: pointer;
      z-index: 100001;
      font-family: KPMG;
      font-weight: bold; }
      #chat-box .chat .rules i {
        font-size: 16px; }
    #chat-box .chat .area-chat {
      margin-top: 49px;
      position: relative;
      height: 73%;
      overflow-y: scroll;
      margin-bottom: 5px; }
      #chat-box .chat .area-chat .example-chat {
        left: 14px;
        bottom: 10px;
        margin-top: 12px;
        font-family: KPMG !important;
        font-weight: bold; }
        #chat-box .chat .area-chat .example-chat img {
          width: 30px !important;
          height: 30px !important; }
        #chat-box .chat .area-chat .example-chat .text {
          font-size: 14px; }
    #chat-box .chat .input-chat .chats {
      width: 77%;
      height: 35px;
      border-color: #90959a33;
      font-family: KPMG !important; }
    #chat-box .chat .input-chat img {
      cursor: pointer; }

#moreDetailInforMember .title {
  font-size: 22px !important; }
#moreDetailInforMember .title-profile {
  font-size: 1.3rem; }
#moreDetailInforMember td {
  font-family: KPMG;
  font-weight: bold; }

.rules-box .modal-dialog {
  max-width: 60% !important;
  min-width: 1366px; }
  .rules-box .modal-dialog .modal-content {
    position: relative; }
    .rules-box .modal-dialog .modal-content .title {
      font-size: 30px;
      color: #90959a; }
    .rules-box .modal-dialog .modal-content .list-rule {
      max-height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
      font-family: KPMG;
      font-weight: bold; }
      .rules-box .modal-dialog .modal-content .list-rule table {
        color: #90959a; }
        .rules-box .modal-dialog .modal-content .list-rule table thead th {
          border-top: 0px !important;
          font-family: KPMGBold !important; }
    .rules-box .modal-dialog .modal-content .modal-body .back {
      cursor: pointer; }
  .rules-box .modal-dialog .btn-create-rule, .rules-box .modal-dialog .btn-add {
    position: absolute;
    left: 50%;
    bottom: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .rules-box .modal-dialog .btn-add {
    bottom: 50%;
    left: 80%; }

.delete.icon {
  position: absolute;
  right: 20px; }

.btn-create-rule {
  padding: 10px 15% !important;
  border-radius: 10px; }

.form-create {
  padding: 10px 10px 30px 10px;
  border: 1px solid #efefef;
  margin: 25px 10% 25px 5%; }

#inlineFormCustomSelect {
  margin-right: 5% !important; }

.rules-box .modal-dialog .btn-add {
  bottom: 27%;
  left: 85%;
  border-radius: 10px; }

.btn-wip {
  background: #bc204b;
  color: white;
  font-weight: bold; }

.main-content {
  padding-top: 57px; }

#modalbox-rules .title {
  width: 200px;
  font-size: 30px !important;
  font-weight: bold; }

#rules-informaition {
  display: inline !important;
  width: 100%;
  font-size: 1.5rem !important; }

/*nam*/
/*staff*/
html body #menuLeft .brands-kpmg .name-brands {
  font-size: 20px !important; }

#myTabContent {
  height: 100% !important; }

html body #menuLeft .brands-kpmg .sologan-brands {
  font-size: 11px;
  margin: 11px 0 0 6px !important;
  word-spacing: normal;
  font-weight: bold;
  letter-spacing: 0.16px; }

html body #content-right .title {
  margin-bottom: 13px; }

div.show-content-right {
  margin-top: 3% !important; }

#content-right {
  padding-right: 10px !important; }

.dot {
  margin-right: 2%;
  width: .75em;
  height: .75em; }

/*feed*/
#external {
  position: relative; }
  #external .external-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.button_addfeed {
  width: 180px;
  border: 2px solid #dad6d6 !important;
  color: #999999 !important;
  font-weight: bold; }

/*setting*/
.btn-edit, .btn-delete, .btn-update {
  margin-right: 5px;
  border-width: 2px; }

.btn-edit {
  border-color: #81b5ec; }

.btn-delete {
  border-color: #e49ba2; }

#rules {
  overflow: auto !important; }

/*menu left*/
.list-menu .nav-item {
  height: 40px; }

#start_day, #end_day, #date_start_update, #date_end_update, #start_time, #end_time, #time_start_update, #time_end_update, #time_start, #time_end, #date_start_info, #date_end_info, #date_start_info_update, #date_end_info_update {
  border: none !important; }

#time_end_ruleFeedInfo, #time_start_ruleFeedInfo, #end_day_ruleFeedInfo, #start_day_ruleFeedInfo {
  border: none !important; }

.bold {
  font-weight: bold !important; }

#moreDetailInforMemberCurrent .title {
  font-size: 17px !important; }
#moreDetailInforMemberCurrent .title-profile {
  font-size: 1.3rem; }
#moreDetailInforMemberCurrent .sub-name {
  corlor: #90959a;
  font-family: KPMG !important; }
#moreDetailInforMemberCurrent td {
  font-family: KPMG !important; }

#moreDetailInforMemberStaff .modal-dialog, #moreDetailInforMember .modal-dialog, #moreDetailInforMemberCurrent .modal-dialog {
  min-width: 978px; }
#moreDetailInforMemberStaff .title, #moreDetailInforMember .title, #moreDetailInforMemberCurrent .title {
  font-size: 18px !important; }
#moreDetailInforMemberStaff .dateofbirth, #moreDetailInforMember .dateofbirth, #moreDetailInforMemberCurrent .dateofbirth {
  font-size: 17px; }
#moreDetailInforMemberStaff .sub-name, #moreDetailInforMember .sub-name, #moreDetailInforMemberCurrent .sub-name {
  color: #90959a;
  font-family: KPMG !important; }
#moreDetailInforMemberStaff th, #moreDetailInforMember th, #moreDetailInforMemberCurrent th {
  font-family: KPMGBold; }
#moreDetailInforMemberStaff .top-favorite .each-favorite .title, #moreDetailInforMember .top-favorite .each-favorite .title, #moreDetailInforMemberCurrent .top-favorite .each-favorite .title {
  font-size: 14px !important; }

#table th {
  font-family: KPMGBold; }
#table tr td {
  font-weight: bold; }
  #table tr td .img {
    width: 55px !important;
    height: 55px !important; }
  #table tr td:first-child {
    cursor: pointer;
    display: flex !important;
    align-items: center !important; }
  #table tr td:nth-child(6) {
    opacity: 0;
    padding-top: 17px; }
  #table tr td:nth-child(5) {
    font-weight: bold;
    text-transform: capitalize !important; }
  #table tr td .line {
    width: 5px;
    height: 61px !important;
    float: left;
    transform: translate(-10px, -5px); }
#table tr:hover td:last-child {
  opacity: 1 !important; }

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
  border: none;
  font-family: KPMGBold; }

.log_infor tr td {
  font-weight: bold; }

#tag-setting .ui.multiple.dropdown {
  width: 100% !important;
  display: block; }
  #tag-setting .ui.multiple.dropdown .label {
    min-width: auto !important;
    padding: 4px 10px;
    color: white;
    font-size: 17px;
    font-weight: normal;
    background: #3c8dbc;
    padding-right: 22px !important; }
    #tag-setting .ui.multiple.dropdown .label i.icon.delete {
      right: 5px;
      top: 4px; }
      #tag-setting .ui.multiple.dropdown .label i.icon.delete:before {
        content: url("./../images/icon/close.png") !important; }

.fontsize-panel {
  font-size: 16px !important;
  font-family: KPMGBOld; }

.fc-left {
  display: flex;
  align-items: center !important; }

.fc-left h2 {
  font-size: 15px !important;
  font-family: KPMG !important;
  text-transform: uppercase; }

.month {
  font-size: 16px !important;
  font-family: KPMG !important;
  text-transform: uppercase; }

.style-phol::placeholder {
  color: #a7a9ab; }

.color-fredrules {
  color: #485063; }

.color-table {
  color: #4c587a; }

.font-KPMGBold {
  font-family: KPMGBOld; }

.table td, .table th {
  border-top: none; }

.btn-addSetting {
  background: #e36877 !important;
  border-color: #e36877;
  border-radius: 7px !important;
  color: white; }

.content-table[_ngcontent-c4] {
  overflow-y: scroll !important;
  position: relative; }

.content-table {
  position: relative;
  height: 725px;
  background: white; }

.navigation-table-content[_ngcontent-c4] {
  z-index: 0 !important; }

.navigation-table-content {
  position: absolute;
  z-index: 100;
  display: block;
  bottom: 25px !important;
  right: 45px !important; }

table.dataTable thead .sorting {
  background: transparent !important; }

table.dataTable thead .sorting_asc {
  background: transparent !important; }

table.dataTable thead .sorting_desc {
  background: transparent !important; }

.dataTables_info {
  display: none !important; }

table.dataTable thead th {
  border-bottom: 2px solid #dee2e6 !important; }

table.dataTable.no-footer {
  border-bottom: 1px solid transparent !important; }

.dataTables_filter {
  display: none !important; }

.dataTables_length {
  display: none; }

#content-table {
  overflow-y: scroll; }

.person_image {
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important; }

.function-apend, .function-apend1, .function-apend2 {
  margin-bottom: 33px !important;
  font-weight: bold;
  font-family: KPMGBold;
  margin-top: 1% !important; }

#modal-updateFeed .blah0 {
  width: 270px;
  height: 180px; }

.border--icon {
  background-image: url("./../images/icon/ico_bar.png");
  background-color: white;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55% 64%;
  min-width: 8vw; }

.box--2--txt {
  margin-left: 9%;
  margin-top: 8% !important;
  font-size: 1em;
  text-align: center;
  min-width: 13vw;
  font-family: KPMG; }

.box--2--num {
  font-size: 6em;
  margin-top: -12%;
  text-align: center; }

.chart3--box {
  background-color: red !important;
  margin-top: 4%; }

.bold-letter {
  font-weight: bold;
  font-family: KPMGBold !important; }

.carousel-control-prev > .left {
  display: none; }

#list-profile, .btn-email {
  font-family: KPMG !important; }

.number-percent {
  font-size: 17px !important; }

#member-detail .contact-detail .title {
  font-size: 17px !important; }

#moreDetailInforMember .contact-detail .title {
  font-size: 17px !important; }

.modal-title {
  font-size: 22px; }

.modal-body {
  color: #90959a;
  font-family: KPMGBold; }

.title-chat {
  font-family: KPMG;
  font-weight: bold; }

.log_inforlog_infor tr td {
  padding: 17px !important;
  font-family: KPMG;
  font-weight: bold; }

.pagination {
  display: none !important; }

.ic_prev:hover, .ic_next:hover {
  color: #eb2d89 !important; }

.th_action:after, .th_action:before {
  content: '' !important; }

.navigation-table-content {
  font-family: KPMG;
  font-weight: bold; }

#modalbox-email-header, #modalbox-email-header-current {
  position: relative; }
  #modalbox-email-header button.close, #modalbox-email-header-current button.close {
    position: absolute;
    right: 23px; }

#emoji_custom, #emoji_custom_addFeed, #emoji_custom_updateFeed {
  background-color: white;
  border-radius: 5px;
  width: 295px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
  padding: 5px; }

#content_icon {
  height: 230px;
  width: 295px;
  overflow: auto; }

#btn_icon, #btn_icon_addFeed {
  width: 26px;
  height: 26px;
  background: url("./../images/img_emoji/icon_basic.png") no-repeat;
  background-size: 25px;
  cursor: pointer;
  border: none;
  position: absolute;
  z-index: 999; }

.emoji_btn {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  float: left;
  display: block;
  margin: 1px;
  padding: 3px;
  background-size: 23px !important;
  cursor: pointer;
  margin: 3px; }

.img_emoji {
  width: 24px;
  height: 24px; }

#emoji_box_addFeed, #emoji_box_updateFeed {
  transform: translate(-260px, 29px);
  z-index: 10;
  position: relative; }

#content_chat, #content_chat_update, #content_chat_addFeed, #content_chat_updateFeed {
  border: 1px solid;
  font-family: KPMG;
  padding: 10px; }

#emoji_custom, #emoji_custom_addFeed, #emoji_custom_updateFeed {
  position: absolute;
  z-index: 10; }

#content_chat[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; }

#content_chat[placeholder]:empty:focus:before {
  content: ""; }

#content_chat_update[placeholder]:empty:focus:before {
  content: ""; }

#content_chat, #content_chat_update, #content_chat_addFeed, #content_chat_updateFeed {
  --moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  height: 110px;
  overflow: auto;
  padding: 2px;
  resize: both;
  border-radius: 5px;
  border-color: #ced4da; }

.emoji-mart, .emoji-mart-addFeed, .emoji-mart-updateFeed {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  border: none;
  background: none;
  margin: 6px;
  background-image: url("./../images/list_emoji.png");
  width: 24px;
  height: 24px;
  background-size: 5200% 5200%; }

.icon_emoji {
  background-image: url("./../images/list_emoji.png");
  width: 24px;
  height: 24px;
  background-size: 5200% 5200%;
  /*background-position: 58.8235% 54.902%;*/ }

.emoji-mart-scroll {
  overflow-y: scroll;
  height: 270px;
  width: 355px;
  padding: 0 6px 6px 6px;
  will-change: transform; }

@media only screen and (max-width: 1367px) {
  .border--icon {
    min-width: 8vw;
    margin: 4vh 0vw 4vh 0vw !important; }

  .height--box {
    max-height: 32vh; }

  .chart--footer {
    width: 96% !important; }

  .box--2--num {
    font-size: 5.3em; } }
@media only screen and (max-width: 1522px) and (min-width: 1367px) {
  .border--icon {
    min-width: 8.5vw;
    margin: 7vh 0vw 7vh 0vw !important; }

  .chart--footer {
    width: 96% !important; } }
.btn-mail-infor {
  padding: 5px 32px !important;
  font-size: 18px !important; }

.log_table.dataTable tbody td {
  padding: 14px 10px !important; }

.item_list {
  cursor: pointer; }

#content-right.toggle-menu {
  margin-left: 80px; }

#navigation_yitu {
  bottom: 35px !important;
  right: 80px !important; }

.select2-container--default .select2-selection--multiple {
  border: 1px solid #d9d9d9 !important; }

#modalAddFeedInformation .form-create {
  border: none; }
  #modalAddFeedInformation .form-create input, #modalAddFeedInformation .form-create textarea {
    font-family: KPMG;
    font-size: 19px; }
  #modalAddFeedInformation .form-create .wrapper-content {
    border: 1px solid #90959a4a; }
  #modalAddFeedInformation .form-create #img_file_info {
    width: 200px !important;
    height: auto !important; }
  #modalAddFeedInformation .form-create #plus_imgex {
    margin: 23px auto !important;
    cursor: pointer; }
  #modalAddFeedInformation .form-create #add_image {
    border: 1px dashed #90959a; }
#modalAddFeedInformation .btn-add {
  bottom: 7%; }

.btn_update_feedInfo {
  bottom: 16% !important; }

#img_file_info_update {
  height: 120px !important;
  width: auto; }

#live {
  min-height: 650px !important; }

#rules-informaition_update {
  width: 300px; }

.logScroll {
  height: 500px;
  overflow-y: scroll; }

.swal-overlay {
  z-index: 10002 !important; }

.box--1--txt {
  font-family: KPMG; }

.groupFormFeedInfo {
  border: 1px dashed #90959a; }

.h-200 {
  height: 200px !important; }

.ap-layout-popup {
  z-index: 1000000000 !important; }

/*# sourceMappingURL=index.css.map */
