<div class="show-content-right mt-5">
  <ul class="nav nav-tabs fontsize-panel" id="myTab" role="tablist">
      <li class="nav-item">
          <a class="nav-link text-uppercase active " id="clubhouse-tab" data-toggle="tab" href="#clubhouse" role="tab" aria-controls="clubhouse" aria-selected="true"> CLUBHOUSE</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-uppercase " id="external-tab" data-toggle="tab" href="#external" role="tab" aria-controls="external" aria-selected="false"> EXTERNAL</a>
      </li>
      <li class="position-absolute" style="right:10px;top:-10px;">
          <app-chat></app-chat>
      </li>
  </ul>
 <div class="tab-content rounded" id="myTabContent">
 <app-loading-waiting *ngIf="isLoadingCalendar"></app-loading-waiting>
      <div class="tab-pane fade show active " id="clubhouse" role="tabpanel" aria-labelledby="clubhouse-tab">
      <div class="feed-content" id ="feed-content">
      <div id="calendar" style="margin-top: 10px"></div>
      <!---->

 <div class="card_list">
     <!--Repeat-->
     <div class="list-calendar">
     <ng-container *ngFor="let item of dataMonth">
     <div class="one-moth">
         <h2 class="month">{{item.title}}</h2>
         <div class="row mt-5" >
             <div class="col-6 item_card mb-3" *ngFor="let event of item.event">
                 <div class="row ml-4">
                     <div class="col-12 ">
                         <div class="row item_list" (click)="getIdEventMonth(event.id)">
                             <div class="col-4" style="padding: 0 7px">
                                 <img src="{{event.file}}" style="width: 140px;height: 100px">
                             </div>
                             <div class="col-6 content_card">
                                 <span style="font-weight: bold;font-size: 1.25rem; display: block">{{event.title}}</span>
                                 <span [innerHTML]="event.feed_emoji | safe: 'html'"></span>
                             </div>
                             <div class="col-2">
                                 <img class="remove_item" style="float: right" src="./assets/images/icon/close.png" (click)="deleteEvent(event.id)">
                             </div>
                         </div>
                     </div>
                     <div class="col-12 pr-0 mt-2">
                         <span style="font-weight: bold;color:#b1acac91; font-size: 14px; float: right">{{event.date_start | date:'dd MMM  h:mm a'}} - {{event.date_end | date:'dd MMM h:mm a'}}</span>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row mt-5 mb-3">
              <div class="col-2 offset-5" style="height: 5px;background-color:#eae6e6"></div>
          </div>
         </div>

     </ng-container>
     </div>
     <!--Repeat-->
 </div>
</div>



     </div>
 <div class="tab-pane fade" id="external" role="tabpanel" aria-labelledby="external-tab">
         <div class="content-table" style="height: auto;padding-bottom: 20px;min-height: 950px;">
      <div>
      <button type="button" class="btn button_addfeed m-3 " style="float: right;background-color: #ffffff;" data-toggle="modal" data-target="#modalAddFeedInformation"><i class="fa fa-plus"></i> Add Feed Information</button>

      </div>
      <div style="width: 98%; margin-bottom: 33px;padding-left: 15px">
          <table class="table table_setting"   style="margin-top: 10px;" id="table_feedInfo">
              <thead>
              <tr>
                  <th style="width: 9%;">Id </th>
                  <th>Image </th>
                  <th>Name </th>
                   <!--<th>Link Address</th>
                                         <th>Data </th>-->

                  <th>Description </th>
                  <th>Time Start </th>
                  <th>Time End </th>
                  <th>Time Repeat </th>
                  <th>Time Update </th>
                  <th style="width: 18%;" class="th_action">Action</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let feedInfo of allFeedInfo">
              <tr>
                   <td>{{feedInfo.id}}</td>
                   <td><img [src]="feedInfo.file" alt="" style="height: 45px; width: 45px;"></td>
                   <td>{{feedInfo.name}}</td>
                   <!-- <td>{{feedInfo.url}}</td>
                                          <td>{{feedInfo.data}}</td>-->

                   <td>{{feedInfo.description}}</td>
                   <td>{{feedInfo.time_start}}</td>
                   <td>{{feedInfo.time_end}}</td>
                   <td>{{feedInfo.time_repeat}}</td>
                   <td>{{feedInfo.time_update}}</td>
                    <td style="display: inline-block" class="">
                        <button type="button" class="btn btn-outline-success btn-sm mb-1 mb-xl-0 w-100  mr-0"  data-target="#configFeedInfo" data-toggle="modal" (click)="getRulesFeed(feedInfo.id)"><i class="fas fa-cogs">Config</i></button>
                        <button type="button" class="btn btn-outline-primary btn-edit  btn-sm mb-1 mb-xl-0 w-100   mr-0"   data-toggle="modal" data-target="#modalUpdateFeedInformation" (click)="getFeedInforById(feedInfo.id)"><i class="fa fa-edit"></i> Edit</button>
                        <button type="button" class="btn btn-outline-danger btn-delete btn-sm mb-1 mb-xl-0 w-100   mr-0" (click)="deleteFeedInfo(feedInfo.id)"><i class="fa fa-times" > Delete</i></button>
                    </td>
               </tr>
              </ng-container>
              </tbody>
          </table>
      </div>
      <div style="width: 95%" class="navigation-table-content" id="navigation_feedInfo">
          <a class="caret next" id="next_zone"><i style="font-size: 20px;float: right; color: #f0c9d6" class="fa fa-caret-right ic_next next_hover m-2"></i></a>
          <span class="pagin m-2" id="pagin_zone" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
          <a class="caret prev" id="prev_zone"><i style="font-size: 20px;float: right; color: #f0c9d6;" class="fa fa-caret-left ic_prev m-2"></i></a>
          <br>
          <br>
      </div>
  </div>
     </div>
 </div>
 </div>

<!--modal Add Feed-->
<div class="modal fade" id="modal-addfeed">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" name="form-addFeed">
            <div class="modal-header" id="modal_head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Clubhouse Feed</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div id="add_image_add_feed">
                            <label for="margin" style="margin-bottom: 0"><img class="blah0_addFeed" src=""></label>
                            <img class="m-5 blah0_addFeed_plus_img" id="plus_img" src="./assets/images/icon/maximise%20grey.png">
                            <div class="mb-3 " id="btn_addimg" style="margin-top: 11px;">
                                <!--<button type="button" id="add_img">ADD IMAGE</button>-->
                                <label id="add_img" for="margin"  class="blah0_addFeed_add_img">ADD IMAGE</label>
                                <input type="file" id="margin" class="add_img" name="margin" accept="image/*" onchange="readURL(this,'.blah0_addFeed');" (change)="checkImageFeed()"  style="display: none" #file_img  >
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Title" id="title" [(ngModel)]="feed.title" name="title" #title>
                            </div>
                            <div class="col-12 mt-4">
                               <!-- <textarea class="form-control" placeholder="Description" rows="6" id="description" [(ngModel)]="feed.description" name="description" #description></textarea>-->
                               <div class="" style="position: relative;">
                                  <div contenteditable style="resize: vertical;padding-right: 37px" id="content_chat_addFeed" class="mt-1" placeholder="Description" ></div>
                                      <div style="position: absolute;top:5px;right: 35px">
                                      <button type="button" class="btn btn-info" id="btn_icon_addFeed" data-toggle="collapse" data-target="#emoji_custom_addFeed"></button>
                                      <div class="emoji_box" id="emoji_box_addFeed">
                                        <div id="emoji_custom_addFeed" class="collapse">
                                           <div id="content_icon" class="emoji-mart-scroll-addFeed">

                                           </div>
                                        </div>
                                      </div>
                                  </div>

                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="input-group date_feed">
                            <input type="text" id="start_day" class="form-control datepicker" style="padding-left: 10px;" placeholder="Start Date" #date_start (change)="checkDateEvent(date_start.value, date_end.value)" [(ngModel)]="feed.date_start" name="date-start">
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group date_feed">
                            <input type="text" id="end_day" class="form-control datepicker" style="padding-left: 10px;" placeholder="End Date" #date_end (change)="checkDateEvent(date_start.value, date_end.value)" [(ngModel)]="feed.date_end" name="date-end">
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6">
                       <div class="input-group date_feed">
                           <input type="text" id="time_start" class="form-control timepicker" style="padding-left: 10px;" placeholder="Start Time" #time_start [(ngModel)]="feed.time_start" name="time-start">
                           <div class="input-group-addon">
                               <i class="far fa-clock" style="font-size: 25px;"></i>
                           </div>
                       </div>
                   </div>
                   <div class="col-6">
                       <div class="input-group date_feed">
                           <input type="text" id="time_end" class="form-control timepicker" style="padding-left: 10px;" placeholder="End Time" #time_end [(ngModel)]="feed.time_end" name="time-end">
                           <div class="input-group-addon">
                               <i class="far fa-clock" style="font-size: 25px;"></i>
                           </div>

                       </div>
                   </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <span>Preference Tags </span>
                        <select class="js-example-basic-multiple myTags" id="favorite_feed"style="width: 100%;" name="states[]"  #favorite multiple="multiple"></select>
                    </div>
                </div>
                <div class="row align-items-center mt-3" id="recurrence_feed">
                    <div class="col-2 col-md-1 mr-4">
                        <span>Recurrence</span>
                    </div>
                    <div class="col-9">
                        <div class="rounded-circle recurrence ml-3 feed-time" id="choose0" data-value="120" (click)="getRecurrence(120)">
                            <span class="feed_minute">2</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                        <div class="rounded-circle recurrence ml-3 feed-time" id="choose1" data-value="300" (click)="getRecurrence(300)">
                            <span class="feed_minute">5</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                        <div class="rounded-circle recurrence ml-3 feed-time" id="choose2" data-value="600" (click)="getRecurrence(600)">
                            <span class="feed_minute">10</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                        <div class="rounded-circle recurrence ml-3 feed-time" id="choose3" data-value="900" (click)="getRecurrence(900)">
                            <span class="feed_minute">15</span>
                            <span style="font-size: 13px;">min</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <button type="button" id="add_feed" data-dismiss="modal" (click)="addFeed(file_img,date_start,date_end,time_start,time_end,favorite)"
                [disabled]="!checkDateEvent(date_start.value, date_end.value) || !isFeedImage" >ADD FEED</button>
                 <div *ngIf="!checkDateEvent(date_start.value, date_end.value)">
                     <div class="text-danger"  style="font-family: KPMGBold;">Date End Can Not Before Date Start</div>
                  </div>
                   <div *ngIf="!isFeedImage">
                      <div class="text-danger"  style="font-family: KPMGBold;text-align: center">Incorrect format! Please import picture of 133px in width and 90px in height.</div>
                   </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
 </div>
 <!--End modal add feed -->

 <!--Modal box update feed -->
 <button type="button" data-toggle="modal" data-target="#modal-updateFeed" id="modal_updateFeed" class="button_addfeed fc-addFeed-button fc-button fc-state-default fc-corner-left fc-corner-right" style="z-index: -1;position: fixed; opacity: 0;"></button>

<div class="modal fade" id="modal-updateFeed">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" name="form-addFeed">
            <div class="modal-header" id="modal_head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update F.R.E.D</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div id="add_image_update_feed" class="h-200">
                            <label for="margin_update" style="margin-bottom: 0"><img class="blah0_updateFeed" id="img_file"  src=""></label>
                            <img class="m-5 blah0_updateFeed_plus_img" id="plus_img" src="./assets/images/icon/maximise%20grey.png">
                            <div class="mb-3 d-flex justify-content-center align-items-center" id="btn_addimgUpdate" style="margin-top: 11px;">
                                 <label id="update_img" class="blah0_updateFeed_add_img" for="margin_update">ADD IMAGE</label>
                                <input type="file" id="margin_update" class="add_img" name="margin" accept="image/*"   onchange="readURL(this,'.blah0_updateFeed');" (change)="checkImageFeed()"  style="display: none" #file_img_update [(ngModel)]="updateFeed.file" >
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Title" id="title_update" [(ngModel)]="updateFeed.title" name="title">
                            </div>
                            <div class="col-12 mt-4">
                               <!-- <textarea class="form-control" placeholder="Description" rows="6" id="description_update" [(ngModel)]="updateFeed.description" name="description"></textarea>-->
                               <div class="" style="position: relative;">
                                      <div contenteditable style="resize: vertical;padding-right: 37px" id="content_chat_updateFeed" class="mt-1" placeholder="Description" ></div>
                                      <div style="position: absolute;top:5px;right: 35px">
                                         <button type="button" class="btn btn-info" id="btn_icon_addFeed" data-toggle="collapse" data-target="#emoji_custom_updateFeed"></button>
                                      <div class="emoji_box" id="emoji_box_updateFeed">
                                        <div id="emoji_custom_updateFeed" class="collapse">
                                            <div id="content_icon" class="emoji-mart-scroll-updateFeed">
                                            </div>
                                        </div>
                                      </div>
                                      </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="input-group date_feed">
                            <input type="text" id="date_start_update" class="form-control datepicker" style="padding-left: 10px;" placeholder="Start Date" #date_start_update [(ngModel)]="updateFeed.date_start" name="date-start">
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group date_feed">
                            <input type="text" id="date_end_update" class="form-control datepicker" style="padding-left: 10px;" placeholder="End Date" #date_end_update [(ngModel)]="updateFeed.date_end" name="date-end">
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                   <div class="col-6">
                        <div class="input-group date_feed">
                            <input type="text" id="time_start_update" class="form-control timepicker" style="padding-left: 10px;" placeholder="Start Time" #time_start_update [(ngModel)]="updateFeed.time_start" name="date-start">
                            <div class="input-group-addon">
                                <i class="far fa-clock" style="font-size: 25px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group date_feed">
                            <input type="text" id="time_end_update" class="form-control timepicker" style="padding-left: 10px;" placeholder="End Time" #time_end_update [(ngModel)]="updateFeed.time_end" name="date-end">
                            <div class="input-group-addon">
                                <i class="far fa-clock" style="font-size: 25px;"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                    <span>Preference Tags </span>
                        <select class="js-example-basic-multiple myTags" id="favorite_feedUpdate"style="width: 100%;border: 1px solid #d9d9d9;" name="states[]" #favorite_update multiple="multiple"></select>
                    </div>
                </div>
                <div class="row align-items-center mt-3" id="recurrence_feedUpdate">
                    <div class="col-1 mr-4 col-2 col-md-1">
                        <span>Recurrence</span>
                    </div>
                    <div class="col-9">
                        <div class="rounded-circle recurrence ml-3 feed-time recurrence-120" id="choose4" data-value="120" (click)="getRecurrence(120)">
                            <span class="feed_minute">2</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                        <div class="rounded-circle recurrence ml-3 feed-time recurrence-300" id="choose5" data-value="300" (click)="getRecurrence(300)">
                            <span class="feed_minute">5</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                        <div class="rounded-circle recurrence ml-3 feed-time recurrence-600" id="choose6" data-value="600" (click)="getRecurrence(600)">
                            <span class="feed_minute">10</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                         <div class="rounded-circle recurrence ml-3 feed-time recurrence-900" id="choose7" data-value="900" (click)="getRecurrence(900)">
                            <span class="feed_minute">15</span>
                            <span style="font-size: 13px;">min</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <button type="button" id="update_feed" data-dismiss="modal" (click)="updateFeedAction(file_img_update,date_start_update,date_end_update,time_start_update, time_end_update)" [disabled]="!checkDateEvent(date_start_update.value, date_end_update.value) || !isFeedImage">UPDATE</button>
                 <div *ngIf="!checkDateEvent(date_start_update.value, date_end_update.value) ">
                       <div class="text-danger" style="font-family: KPMGBold;">Date End Can Not Before Date Start</div>
                  </div>
                   <div *ngIf="!isFeedImage">
                     <div class="text-danger"  style="font-family: KPMGBold;text-align: center">Incorrect format! Please import picture of 133px in width and 90px in height.</div>
                  </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
         </div>

<!--Modal add Feed Information-->
         <div class="detail-member modal fade rules-box" id="modalAddFeedInformation" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
                         <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_addFeedInfo">
                                 <span aria-hidden="true">&times;</span>
                             </button>
                         </div>
                         <div class="modal-body h-100 ">
                             <div class="title ml-5 mb-5 text-capitalize " id="rules-informaition">Information Feeds</div>
                             <div class="form-create">
                                 <div class="row">
                                     <div class="col-6">
                                         <div id="add_image_feed_info" class="h-200" >
                                         <label for="file_infor_feed" style="margin-bottom: 0"><img class="blah0_addFeedInfo" id="img_file_info"  src=""></label>
                                         <div class="" id="btn_addimg_feedInfo" style="margin-top: 11px;">
                                         <div>
                                         <img class="blah0_addFeedInfo_plus_img" id="plus_imgex" src="./assets/images/icon/maximise%20grey.png">
                                         </div>
                                         <div>
                                          <label id="add_img_feed_info" for="file_infor_feed" class="blah0_addFeedInfo_add_img">ADD IMAGE</label>
                                          <input type="file" id="file_infor_feed" class="add_img" accept="image/*"   onchange="readURL(this,'.blah0_addFeedInfo','');"style="display: none" (change)="checkImageFeedInfo()" #file_img_infor [(ngModel)]="feedInfor.file" >
                                          </div>


                                         </div>
                                     </div>
                                     </div>
                                     <div class="col-6">
                                         <div class="row">
                                             <div class="col-12">
                                                <input type="text" name="txtTitle" class="form-control  mr-2" id="title_feed_info"  #title_feed_info placeholder="Feed Name" [(ngModel)]="feedInfor.name">
                                             </div>
                                             <div class="col-12 mt-4">
                                                  <textarea class="form-control" id="txtDes" rows="5" placeholder="Description" #description_info [(ngModel)]="feedInfor.description"></textarea>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <div class="row mt-3">
                                     <div class="col-6">
                                         <div class="input-group date_feed">
                                              <input type="text" id="date_start_info" class="form-control datepicker_external" style="padding-left: 10px;" placeholder="Start Date" #date_start_info (change)="checkDateEvent(date_start_info.value, date_end_info.value)" [(ngModel)]="feedInfor.date_start" name="date-start">
                                              <div class="input-group-addon">
                                                  <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                                              </div>
                                          </div>
                                     </div>
                                     <div class="col-6">
                                        <input type="text" name="txtLinkAddress" class="form-control "  id="linkAddress_info"  #linkAddress_info placeholder="Link Address" [(ngModel)]="feedInfor.url">
                                     </div>
                                 </div>
                                 <div class="row mt-3">
                                     <div class="col-6">
                                         <div class="input-group date_feed">
                                             <input type="text" id="date_end_info" class="form-control datepicker_external" style="padding-left: 10px;" placeholder="End Date" #date_end_info (change)="checkDateEvent(date_start_info.value, date_end_info.value)" [(ngModel)]="feedInfor.date_end" name="date-end">
                                             <div class="input-group-addon">
                                                 <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="col-6">
                                       <input type="number" name="txtTimeRepeat" class="form-control"  id="time_repeat_info"  #time_repeat_info placeholder="Time Repeat" [(ngModel)]="feedInfor.time_repeat" >
                                     </div>
                                 </div>

                                 <!--title and link address-->
                                 <button class="btn-add btn-danger btn px-5 py-2 text-uppercase font-KPMGBold" [disabled]="!checkDateEvent(date_start_info.value, date_end_info.value)  || !isFeedInfoImage" (click)="addFeedInformation(date_start_info, date_end_info,file_img_infor)">Add</button>
<div *ngIf="!checkDateEvent(date_start_info.value, date_end_info.value) ">
                               <div class="text-danger text-center" style="font-family: KPMGBold;">Date End Can Not Before Date Start</div>
                          </div>
                        <div *ngIf="!isFeedInfoImage">
                           <div class="text-danger"  style="font-family: KPMGBold;text-align: center">Incorrect format! Please import picture of 132px in width and 111px in height.</div>
                        </div>
                             </div>
                         </div>
                     </div>
                     </div>



</div>

<!--Modal Update Feed Information-->
         <div class="detail-member modal fade rules-box" id="modalUpdateFeedInformation" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_addFeedInfoUpdate">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     <div class="modal-body h-100 ">
                         <div class="title ml-5 mb-5 text-capitalize " id="rules-informaition">Update Feed Information</div>

                     <div class="form-create">
                     <div class="row">
                          <div class="col-6">
                              <div id="add_image_feed_info_update" class="h-200" >
                                  <label for="file_infor_feed_update" style="margin-bottom: 0"><img class="blah0_updateFeedInfo" id="img_file_info_update"  src=""></label>
                                  <div class="" id="btn_addimg_feedInfo_update" style="margin-top: 11px;">
                                  <div class="mb-5">
                                  <img class="blah0_updateFeedInfo_plus_img " id="plus_imgex_update" src="./assets/images/icon/maximise%20grey.png">
                                  </div>
                                  <div>
                                   <label id="add_img_feed_info_update" for="file_infor_feed_update" class="blah0_updateFeedInfo_add_img">ADD IMAGE</label>
                                   <input type="file" id="file_infor_feed_update" class="add_img" accept="image/*"   onchange="readURL(this,'.blah0_updateFeedInfo');"style="display: none" (change)="checkImageFeedInfo()" #file_img_infor_update [(ngModel)]="feedInforUpdate.file" >
                                   </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                           <div class="row">
                                  <div class="col-12">
                                     <input type="text" name="txtTitle" class="form-control  mr-2" id="title_feed_info_update"  #title_feed_info_update placeholder="Title" [(ngModel)]="feedInforUpdate.name">
                                  </div>
                                  <div class="col-12 mt-4">
                                        <textarea class="form-control" id="txtDes_update" rows="6" placeholder="Description" #description_info_update [(ngModel)]="feedInforUpdate.description"></textarea>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row mt-3">
                          <div class="col-6">
                              <div class="input-group date_feed">
                                   <input type="text" id="date_start_info_update" class="form-control datepicker_external" style="padding-left: 10px;" placeholder="Start Date" #date_start_info_update (change)="checkDateEvent(date_start_info_update.value, date_end_info_update.value)" [(ngModel)]="feedInforUpdate.date_start" name="date-start">
                                   <div class="input-group-addon">
                                       <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                                   </div>
                               </div>
                          </div>
                          <div class="col-6">
                             <input type="text" name="txtLinkAddress" class="form-control " style="height: 42px;" id="linkAddress_info_update"  #linkAddress_info_update placeholder="Link Address" [(ngModel)]="feedInforUpdate.url">
                          </div>
                      </div>
                      <div class="row mt-3">
                          <div class="col-6">
                             <div class="input-group date_feed">
                                  <input type="text" id="date_end_info_update" class="form-control datepicker_external" style="padding-left: 10px;" placeholder="End Date" #date_end_info_update (change)="checkDateEvent(date_start_info_update.value, date_end_info_update.value)" [(ngModel)]="feedInforUpdate.date_end" name="date-end">
                                  <div class="input-group-addon">
                                      <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                            <input type="number" name="txtTimeRepeat" class="form-control" style="height: 42px;" id="time_repeat_info_update"  #time_repeat_info_update placeholder="Time Repeat" [(ngModel)]="feedInforUpdate.time_repeat" >
                          </div>
                      </div>

                      <!--title and link address-->
                       <button class="btn-add btn_update_feedInfo btn-danger btn px-5 py-2 text-uppercase font-KPMGBold" [disabled]="!checkDateEvent(date_start_info_update.value, date_end_info_update.value) || !isFeedInfoImage" (click)="updateFeedInfo(date_start_info_update, date_end_info_update,file_img_infor_update)">Update</button>
                          <div *ngIf="!checkDateEvent(date_start_info_update.value, date_end_info_update.value) ">
                                 <div class="text-danger text-center" style="font-family: KPMGBold;">Date End Can Not Before Date Start</div>
                            </div>
                         <div *ngIf="!isFeedInfoImage">
                           <div class="text-danger"  style="font-family: KPMGBold;text-align: center">Incorrect format! Please import picture of 132px in width and 111px in height.</div>
                        </div>
                          </div>
                 </div>
        </div>
</div>
</div>

 <!--Rules-->
 <div class="detail-member modal fade rules-box" id="configFeedInfo" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close close_list_rule" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body h-100" id="modalbox-rules">
                 <div class="title ml-5 mb-5" style="width: 400px;line-height: 30px;">Feed Rules Information</div>
                 <div class="list-rule">
                     <table class="table table-striped" id="table-rules-feedInfo">
                         <thead>
                         <!-- <img src="./assets/images/icon/ico_sort.png" alt="">-->
                             <tr class="Font-KPMGBold color-fredrules">
                                 <th scope="col">Id</th>
                                 <th scope="col">Image/Icon</th>
                                 <th scope="col">Title</th>
                                 <th scope="col">Content</th>
                                 <th style="width: 18%;" class="th_action">Action</th>
                             </tr>
                         </thead>
                         <tbody>
                         <ng-container *ngFor="let rule of feedRules">
                             <tr  class="color-fredrules">
                                 <th scope="row">{{rule.id}}</th>
                                 <td>
                                      <span *ngIf="(rule.file.icon )">{{rule.file.icon}}</span>
                                      <span *ngIf="(rule.file.image)"><img src="{{rule.file.image}}" alt="" style="height: 45px; width: auto;"></span>

                                 </td>
                                 <td [innerHTML]="rule.title | safe: 'html'"></td>
                                 <td >{{rule.content}}</td>
                                   <td>
                                      <button type="button" class="btn btn-outline-primary btn-edit px-3 py-1 w-50"  data-toggle="modal" data-target="#add_ruleInfo" (click)="getDetailRule(rule.id)"><i class="fa fa-edit"></i> Edit</button>
                                      <button type="button" class="btn btn-outline-danger btn-delete px-3 py-1 w-50" (click)="deleteFeedRule(rule.id)"><i class="fa fa-times" > Delete</i></button>
                                    </td>
                             </tr>
                          </ng-container>
                         </tbody>
                     </table>
                 </div>
                 <div class="btn-create-rule btn-danger btn px-5 py-2 text-uppercase font-KPMGBold" data-toggle="modal" data-target="#add_ruleInfo" (click)="setAddRuleFeed(image_ruleFeedInfo, time_start_ruleFeedInfo, time_end_ruleFeedInfo)" > Add New Rule</div>
             </div>
         </div>
     </div>
 </div>

<!-- Modal add rule information -->
<div class="modal fade" id="add_ruleInfo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" name="form-addFeed">
            <div class="modal-header" id="modal_head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{titleRuleAction}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                <!--Group 1 File / Icon-->
                    <div class="col-6 p-1 ">
                    <div class="btn-group mb-4">
                      <div class="form-check mr-5">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" [checked]="isAddImage" (click)="changeOptionTrue()">Image
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" [checked]="!isAddImage" (click)="changeOptionFalse()">Icon
                          </label>
                        </div>
                    </div>
                        <div id="add_image_add_feedRule"  class="{{showImage}} h-200" >
                             <label for="blah0_feedInfoRule" style="margin-bottom: 0"><img class="blah0_feedInfoRule" id="blah0_feedInfoRule_img" src=""></label>
                             <img class="m-5 blah0_feedInfoRule_plus_img" id="plus_img_feedInfoRule" src="./assets/images/icon/maximise%20grey.png">
                             <div class="mb-3 " id="btn_addimg_feedInfoRule" style="margin-top: 11px;">
                                 <!--<button type="button" id="add_img">ADD IMAGE</button>-->
                                 <label id="add_img_rule" for="blah0_feedInfoRule"  class="blah0_feedInfoRule_add_img">ADD IMAGE</label>
                                 <input type="file" id="blah0_feedInfoRule" class="add_img" name="blah0_feedInfoRule" accept="image/*" onchange="readURL(this,'.blah0_feedInfoRule');" (change)="checkImageFeedInfo()"  style="display: none" #image_ruleFeedInfo  />
                             </div>
                        </div>
                        <!---->
                          <div id="add_icon" class="{{showIcon}}">
                              <textarea class="form-control" placeholder="Icon name..." rows="9" id="icon_ruleFeedInfo" [(ngModel)]="feedInfoRule.file" name="icon" #icon></textarea>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="row">
                         <!--Choose Type-->
                              <div class="form-group d-flex col-12">
                                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0 " id="type_rules" name="select_type"  #type [(ngModel)]="feedInfoRule.type" >
                                   <option value="" selected disabled hidden class="text-muted"  >Select Type</option>
                                      <option value="3">Type 3</option>
                                      <option value="5">Type 5</option>
                                  </select>
                              </div>
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Title" id="title_ruleFeedInfo" [(ngModel)]="feedInfoRule.title" name="title" #title_ruleFeedInfo>
                            </div>
                            <div class="col-12 mt-4">
                               <!-- <textarea class="form-control" placeholder="Description" rows="6" id="description" [(ngModel)]="feed.description" name="description" #description></textarea>-->
                               <div class="" style="position: relative;">
                                <textarea class="form-control" placeholder="Content" rows="6" id="content_ruleFeedInfo" [(ngModel)]="feedInfoRule.content" name="content" #description_ruleFeedInfo></textarea>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!--Group 1 File / Icon-->
                <div class="row mt-3">
                      <div class="form-group d-flex col-12">
                         <select class="custom-select mb-2 mr-sm-2 mb-sm-0 " id="inlineFormCustomSelectCondition" name="selectConditior" style="height: 46px;"   [(ngModel)]="feedInfoRule.element">
                             <option value="" selected disabled hidden class="text-muted">Select Main Condition</option>
                             <option value="$forecast" selected>$forecast</option>
                             <option value="$smrt">$smrt</option>
                         </select>
                         <select class="custom-select mb-2 mr-sm-2 mb-sm-0 " id="inlineFormCustomSelectOperator" name="selectPrequislte" style="height: 46px;"  [(ngModel)]="feedInfoRule.prerequisite">
                          <option value="" selected disabled hidden class="text-muted">Select Prerequisite</option>
                             <ng-container *ngFor="let item of operatorr">
                             <option value="{{item.operator}}">{{item.operator}}</option>
                            </ng-container>
                         </select>
                         <input type="text" name="txtCondition" class="form-control" placeholder="Enter Additional Condition" style="height: 46px;"  [(ngModel)]="feedInfoRule.value" >
                     </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6">
                       <div class="input-group date_feed">
                           <input type="text" id="time_start_ruleFeedInfo" class="form-control timepicker" style="padding-left: 10px;" placeholder="Start Time" #time_start_ruleFeedInfo (change)="checkDateEvent(time_start_ruleFeedInfo.value, time_end_ruleFeedInfo.value)" [(ngModel)]="feedInfoRule.time_start" name="time-start">
                           <div class="input-group-addon">
                               <i class="far fa-clock" style="font-size: 25px;"></i>
                           </div>
                       </div>
                   </div>
                   <div class="col-6">
                       <div class="input-group date_feed">
                           <input type="text" id="time_end_ruleFeedInfo" class="form-control timepicker" style="padding-left: 10px;" placeholder="End Time" #time_end_ruleFeedInfo (change)="checkDateEvent(time_start_ruleFeedInfo.value, time_end_ruleFeedInfo.value)" [(ngModel)]="feedInfoRule.time_end" name="time-end">
                           <div class="input-group-addon">
                               <i class="far fa-clock" style="font-size: 25px;"></i>
                           </div>

                       </div>
                   </div>
                </div>

            </div>
            <div class="modal-footer" id="modal_footer">
                <button type="button" *ngIf="isAddRuleAction" id="add_feed" data-dismiss="modal" (click)="addNewRule(image_ruleFeedInfo, time_start_ruleFeedInfo, time_end_ruleFeedInfo)" [disabled]="!checkDateEvent(time_start_ruleFeedInfo.value, time_end_ruleFeedInfo.value) || !isFeedInfoImage" >ADD RULE</button>
                <button type="button" *ngIf="!isAddRuleAction" id="add_feed" data-dismiss="modal" (click)="updateRuleFeed(image_ruleFeedInfo, time_start_ruleFeedInfo, time_end_ruleFeedInfo)" [disabled]="!checkDateEvent(time_start_ruleFeedInfo.value, time_end_ruleFeedInfo.value) || !isFeedInfoImage">UPDATE RULE</button>
                 <div *ngIf="!checkDateEvent(time_start_ruleFeedInfo.value, time_end_ruleFeedInfo.value)">
                     <div class="text-danger"  style="font-family: KPMGBold;">Date End Can Not Before Date Start</div>
                  </div>
                   <div *ngIf="!isFeedInfoImage">
                      <div class="text-danger"  style="font-family: KPMGBold;text-align: center">Incorrect format! Please import picture of 132px in width and 111px in height.</div>
                   </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
 </div>

<!-- End Modal add rule information -->
