<h1 class="title" id="title-home"> {{title}}</h1>
<div class="content-top d-flex align-content-center">
  <div class="d-block mr-2 search-btn"><img src="./assets/images/icon/search.png" alt="icon search" id="icon-search"
                                            (click)="getFunctionSearch(getdata.value)"></div>
  <div class="ui multiple search selection dropdown" id="multi-select">
    <input type="hidden" name="profile" #getdata>
    <div class="default text">Choose Function...</div>
    <div class="menu">
      <ng-container *ngFor="let item of allFunction">
        <div class="item" [attr.data-value]="item.key" [attr.data-color]="item.value" [id]="item.value">{{item.key}}
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="show-content-right mt-5 mr-4">
  <ul class="nav nav-tabs fontsize-panel" id="myTab" role="tablist">
    <li class="nav-item" (click)="setTitleLive()">
      <a class="nav-link active text-uppercase" id="live-tab" data-toggle="tab" href="#live" role="tab"
         aria-controls="home" aria-selected="false"> <i class="fas fa-eye mr-2"></i>LIVE</a>
    </li>
    <li class="nav-item" (click)="setTitleTimeZone()">
      <a class="nav-link text-uppercase" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
         aria-controls="profile" aria-selected="true">OVERVIEW</a>
    </li>
    <li class="position-absolute" style="right:10px;top:-10px;">
      <app-chat></app-chat>
    </li>
  </ul>

  <div class="tab-content rounded" id="myTabContent">
    <div class="tab-pane fade show active h-100" id="live" role="tabpanel" style="overflow: hidden"
         aria-labelledby="live-tab">

      <app-loading-waiting *ngIf="isLoading"></app-loading-waiting>
      <!--Content tab-->
      <!--report-->
      <app-current-report></app-current-report>
      <!--report-->
      <div class="w-100 float-right btn-zoom-group my-4">
        <div class="btn-zoom d-inline-block">
          <button class="zoom-in bg-light d-inline-block p-1 maximise" id="zoom-in" onclick="zoomin()"><img
            src="./assets/images/icon/maximise.png" class="size-map " alt=""></button>
          <button class="zoom-out bg-light d-inline-block p-1 minimise" id="zoom-out" onclick="zoomout()"><img
            src="./assets/images/icon/minimise.png" class="size-map" alt=""></button>
        </div>
      </div>
      <!--Map-->
      <div class="map w-100 text-center d-flex justify-content-center align-items-center h-100" id="map-office">
        <canvas id="myCanvas" width="1200" height="320"></canvas>
      </div>
      <!--End Map-->
      <!--End Content tab-->
    </div>
    <div class="tab-pane fade h-100" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <!--over view-->
      <div id="carouselExampleFade" class="carousel slide carousel-fade"
           data-ride="carousel">
        <div class="carousel-inner">
          <!--CHART 1-->
          <div class="carousel-item active" data-title="Overview: Day">
            <!--HEAD-->
            <div class="chart1--head justify-content-between">
              <div class="head--left">
                <a style="letter-spacing: 1px;" class="bold-letter">VIEW BY DAY </a> &nbsp;
                <input type="text" class="text-uppercase" id="datepicker">&nbsp;&nbsp;&nbsp;<i
                onclick="show_dp();"
                class="fas fa-caret-down dropdate"></i>
              </div>
              <button id="abc" onclick="download_chart1()">DOWNLOAD REPORT</button>
            </div>
            <!--CHART-->
            <div class="chart1--body w-75 m-auto">
              <div id="container"
                   style="min-width: 100%; height: 400px; margin: 0 auto"></div>
            </div>
            <!--FOOTER-->
            <div class="chart--footer">
              <a style="color: #b3aeae;" class="bold-letter"> Toltal number of visits: <a id="sumNum"></a></a>
              <div class="row mt-2 function-apend"></div>
            </div>
          </div>
          <!--CHART 2-->
          <div class="carousel-item" data-title="Overview: Month">
            <!--HEAD-->
            <div class="chart1--head justify-content-between">
              <div class="head--left">
                <a style="letter-spacing: 1px;" class="bold-letter" class="bold-letter">VIEW BY MONTH </a> &nbsp;
                <input type="text" class="text-uppercase" id="datepicker2">&nbsp;&nbsp;&nbsp;<i
                onclick="show_dp2();"
                class="fas fa-caret-down dropdate"></i>
              </div>
              <button id="abc2" onclick="download_chart2()">DOWNLOAD REPORT</button>
            </div>
            <!--CHART-->
            <div class="chart2--body m-auto">
              <div id="container2" style="height: 371px; width: 100%;"></div>
            </div>
            <!--FOOTER-->
            <div class="chart--footer">
              <a style="color: #b3aeae;" class="bold-letter"> Toltal number of visits: <a id="sumNum2">602</a></a>
              <div class="row function-apend1">
              </div>
            </div>
          </div>
          <!--CHART 3-->
          <div class="carousel-item" data-title="Overview: Zone">
            <!--HEAD-->
            <div class="chart1--head justify-content-between">
              <div class="head--left">
                <a style="letter-spacing: 1px;" class="bold-letter">VIEW BY ZONES </a> &nbsp;
                <input type="text" class="text-uppercase" id="datepicker3">&nbsp;&nbsp;&nbsp;<i
                onclick="show_dp3();"
                class="fas fa-caret-down dropdate"></i>
              </div>
              <button id="abc3" onclick="download_chart3()">DOWNLOAD REPORT</button>
            </div>
            <!--CHART-->
            <div class="chart1--body w-75 m-auto">
              <div id="container3"
                   style="min-width: 100%; height: 403px; margin: 0 auto"></div>
            </div>
            <!--FOOTER-->
            <div class="chart--footer">
              <a style="color: #b3aeae;" class="bold-letter"> Top 3 Zones in <a id="sumNum3">August</a></a>
              <div class="d-flex function-apend2">

              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade"
             role="button" data-slide="prev">
              <span class="left carousel-control carousel-control-prev-icon" aria-hidden="false"><i
                style="color: black" class="fa fa-chevron-left btn-change-slide"
                aria-hidden="true"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade"
             role="button" data-slide="next">
              <span class="right carousel-control carousel-control-next-icon" aria-hidden="true"><i
                style="color: black" class="fa fa-chevron-right btn-change-slide"
                aria-hidden="true"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- end over view-->
      </div>
    </div>
  </div>


  <!--imformation one person-->
  <div id="member-detail" class="sidenav w-100">
    <div class="sideBarSearch d-flex justify-content-end m-5">
      <a href="javascript:void(0)" class="closebtn d-inline-block text-secondary"
         onclick="closeNav('#member-detail')">×</a>
    </div>
    <div class="p-5">
      <div class="member-infor-detail d-flex">
        <img src="{{infor?.file}}" [style.border-color]="infor?.color" alt="Avatar Mr-bean" class="avatar mr-3">
        <div class="more-detail text-left">
          <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor?.color">{{infor?.office_location}}</span>
          <div class="name d-block font-weight-bold h1 m-0">{{infor?.name}}</div>
          <span class="position d-block h4 m-0">{{infor?.department}} / {{infor?.person_id}}</span>
          <span class="sub-name h4 m-0">{{infor?.email}}</span>
        </div>
      </div>
      <div class="col-12 dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
        <div class="col-6 title mr-4">DOB</div>
        <div class="col-6 dateofbirth bold p-0" >{{infor?.birthday}}</div>
      </div>
      <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
        <div class=" col-6 title mr-4">Contact</div>
        <div class="col-6 list-number d-inline-block  p-0">
          <div class="number bold d-block ">{{infor?.contact_no}}</div>
        </div>
      </div>

      <div class="top-favorite mt-4">
        <div class="my-4 favarite-title h4 text-left" data-profile="tax" [style.color]="infor?.color">Top 3 Favorite
          Zones
        </div>
        <!-- each favorite -->
        <ng-container *ngFor="let fv of infor?.topzone">
          <div class="each-favorite d-flex align-items-center h5">
            <div class="col-6 title  p-0 mr-2">{{fv.name}}</div>
            <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax"
                 [style.background]="infor?.color"></div>
            <span class="number-percent" [style.color]="infor?.color">{{fv.percent}}%</span>
          </div>
          <!-- each favorite -->
        </ng-container>
        <!-- each favorite -->
      </div>
      <!-- button Send Email-->
      <button class="btn btn-email btn-lg w-100 font-weight-bold text-uppercase btn-mail-infor"
              (click)="getEmail(infor?.email)" data-toggle="modal" data-target="#modal-mail">Email
      </button>
      <div class="more-detail-lg text-uppercase mt-5 h5" data-toggle="modal" data-target="#moreDetailInforMember"
           onclick="closeNav('#member-detail')" style="font-size: 14px;" (click)="getLogPerson(infor?.person_id)">
        More Details
        <img class="ml-3" src="./assets/images/icon/ico_right_slide.png" alt="">
      </div>
      <!-- button Send Email-->
    </div>
  </div>
  <!--Modal Box detail porfile-->
  <!--More Detail Profile modal box-->
  <div class="detail-member modal fade" id="moreDetailInforMember" tabindex="-1" role="dialog"
       aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 m-4 pr-5">
          <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
            <span class="h1" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body h-100 p-0">
          <div class="container-fluid h-100">
            <div class="row h-100">
              <div class="col-4 left">
                <div class="p-5 border-right" style="font-family: KPMGBold;">
                  <div class="member-infor-detail d-flex">
                    <img src="{{infor?.file}}" alt="Avatar Mr-bean" class="avatar mr-4"
                         [style.border-color]="infor?.color">
                    <div class="more-detail text-left">
                      <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor?.color">{{infor?.office_location}}</span>
                      <div class="name d-block font-weight-bold h1 m-0">{{infor?.name}}</div>
                      <span class="position d-block h4 m-0">{{infor?.department}} / {{infor?.person_id}}</span>
                      <span class="sub-name  h4 m-0">{{infor?.email}}</span>
                    </div>
                  </div>

                  <div class="dob py-3 contact-detail mt-4 h4">
                    <div class="title mr-4 text-center">DOB</div>
                    <div class="dateofbirth bold">{{infor?.birthday}}</div>
                  </div>
                  <div class="contact py-3 contact-detail h4">
                    <div class="title mr-4 text-center">Contact</div>
                    <div class="list-number d-inline-block bold">
                      <div class="number d-block">{{infor?.contact_no}}</div>

                    </div>
                  </div>

                  <div class="top-favorite mt-4">
                    <div class="my-4 favarite-title h4" data-profile="tax" [style.color]="infor?.color">Top 3 Favorite
                      Zones
                    </div>
                    <!-- each favorite -->
                    <ng-container *ngFor="let fv of infor?.topzone">
                      <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">{{fv.name}}</div>
                        <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax"
                             [style.background]="infor?.color"></div>
                        <span class="number-percent" data-profile="tax"
                              [style.color]="infor?.color">{{fv.percent}}%</span>
                      </div>
                      <!-- each favorite -->
                    </ng-container>

                  </div>
                  <!-- button Send Email-->
                  <button class="btn btn-email btn-lg w-100 font-weight-bold text-uppercase"
                          (click)="getEmail(infor?.email)" data-toggle="modal" data-target="#modal-mail">Email
                  </button>
                  <!-- button Send Email-->
                </div>
              </div>
              <!--Right modal box detail profile-->
              <div class="col-8 right">
                <table class="table table-striped log_infor log_table" id="logTable">
                  <thead>
                  <!--<img src="./assets/images/icon/ico_sort.png" alt="">-->
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Time In</th>
                    <th scope="col">Zones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let log of logs ">
                    <td scope="row">{{log.ngay}}</td>
                    <td>{{log.gio}}</td>
                    <td class="text-capitalize">{{log.zone_name}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!--End right modal box detail profile-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--More Detail Profile modal box-->

<!--Box Send Mail-->
`
<div class="modal fade" id="modal-mail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modalbox-email-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Mail</h4>
      </div>
      <div class="modal-body">
        <textarea name="editor2" class="w-100" #description id="editor1"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="send-mail" (click)="sendMail(description)">Send</button>
      </div>
    </div>
  </div>
</div>
<!--Box Send Mail-->
