 <!--More Detail Profile modal box-->
        <div class="detail-member modal fade" id="moreDetailInforMember" tabindex="-1" role="dialog" aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 m-4 pr-5">
                        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body h-100 p-0">
                        <div class="container-fluid h-100">
                            <div class="row h-100">
                                <div class="col-4 left">
                                    <div class="p-5 border-right">
                                        <div class="member-infor-detail d-flex">
                                            <img src="./assets/images/avatar.jpg" alt="Avatar Mr-bean" class="avatar mr-4 border-danger">
                                            <div class="more-detail">
                                                <span class="profile title-profile d-block h4 m-0" data-profile="tax">Tax</span>
                                                <div class="name d-block font-weight-bold h1 m-0">Mr Bean</div>
                                                <span class="position d-block h4 m-0">Director / 65001076</span>
                                                <span class="sub-name text-muted h4 m-0">mrbean@</span>
                                            </div>
                                        </div>
                                        <div class="dob py-3 contact-detail mt-4 h4">
                                            <div class="title mr-4">DOB</div>
                                            <div class="dateofbirth">17 August</div>
                                        </div>
                                        <div class="contact py-3 contact-detail h4">
                                            <div class="title mr-4">Contact</div>
                                            <div class="list-number d-inline-block">
                                                <div class="number d-block">9876537</div>
                                                <div class="number d-block">61234596</div>
                                            </div>
                                        </div>
                                        <div class="top-favorite mt-4">
                                            <div class="my-4 favarite-title h4" data-profile="tax">Top 3 Favorite Zones</div>
                                            <!-- each favorite -->
                                            <div class="each-favorite d-flex align-items-center h5">
                                                <div class="title">GrabGo</div>
                                                <div class="progress-bar mr-2" data-percent="90" data-profile="tax"></div>
                                                <span class="number-percent" data-profile="tax"></span>
                                            </div>
                                            <!-- each favorite -->
                                            <!-- each favorite -->
                                            <div class="each-favorite d-flex align-items-center h5">
                                                <div class="title">Fun</div>
                                                <div class="progress-bar  mr-2" data-percent="60" data-profile="tax"></div>
                                                <span class="number-percent" data-profile="tax"></span>
                                            </div>
                                            <!-- each favorite -->
                                            <div class="each-favorite d-flex align-items-center h5">
                                                <div class="title">Cafe</div>
                                                <div class="progress-bar  mr-2" data-percent="45" data-profile="tax"></div>
                                                <span class="number-percent" data-profile="tax"></span>
                                            </div>
                                            <!-- each favorite -->
                                            <!-- each favorite -->
                                            <div class="each-favorite d-flex align-items-center h5">
                                                <div class="title">Cafe</div>
                                                <div class="progress-bar  mr-2" data-percent="80" data-profile="tax"></div>
                                                <span class="number-percent " data-profile="tax"></span>
                                            </div>
                                            <!-- each favorite -->
                                        </div>
                                        <!-- button Send Email-->
                                        <button class="btn btn-email btn-lg w-100 font-weight-bold">Email</button>
                                        <!-- button Send Email-->
                                    </div>
                                </div>
                                <!--Right modal box detail profile-->
                                <div class="col-8 right">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Day <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                                                <th scope="col">Time In <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                                                <th scope="col">Zones <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3/24/12</th>
                                                <td>0924 AM</td>
                                                <td>Cafe, Grab & Go</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--End right modal box detail profile-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--More Detail Profile modal box-->
