<div class="content-top d-flex align-content-center">
   <div class="d-block mr-2 search-btn"><img src="./assets/images/icon/search.png" alt="icon search" id="icon-search"></div>
   <div class="ui multiple search selection dropdown" id="multi-select">
     <input type="hidden" name="profile">
     <div class="default text">Choose Function...</div>
     <div class="menu"  >
     <ng-container *ngFor="let item of allFunction">
         <div class="item" [attr.data-value]="item.key"  [attr.data-color]="item.value" [id]="item.value">{{item.key}}</div>
      </ng-container>
     </div>
     </div>
 </div>
