<div class="current-report pt-2 ml-4  d-inline-block p-3" *ngIf="currentTotal">
  <div class="current-time d-inline mr-3" >{{currentTotal.time}}</div>
  <button class="current-total bg-dark d-inline-block text-white mr-3 py-1 rounded border-0" style="cursor: pointer;" onclick="openNav('#list-profile'),closeNav('#member-detail')" id="current-people"  (click)="getAllCustomers()" >CURRENT: {{currentTotal.sum}}</button>
  <div class="current-detail d-inline">
  <ng-container *ngFor="let item of functions">
      <div class="audit d-inline-block mr-5"><i class="fas fa-circle ico-profile mr-2" [style.color]="item.color" (click)="getOneFunction(item.title)" ></i>{{item.count}}</div>
   </ng-container>
    <button class="audit d-inline-block btn btn-outline-info text-center" title="Refresh Dashboard!" id="resfeshDashBoard" style="-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;    width: 35px;
    height: 35px;"><i class="fas fa-sync-alt ico-profile"></i></button>
   </div>
</div>
<div id="list-profile" class="sidenav p-3 w-100">
  <div class="sideBarSearch d-flex align-items-center mt-5 pb-3">
      <img src="./assets/images/icon/search.png" class="mx-2" alt="">
      <button class="current-total bg-dark d-inline-block text-white mr-3 py-1 rounded border-0 mr-auto" onclick="openNav()" id="current-people" *ngIf="currentTotal">CURRENT: {{currentTotal.sum}}</button>
      <a href="javascript:void(0)" class="closebtn d-inline-block text-secondary" onclick="closeNav('#list-profile')">&times;</a>
  </div>
  <div class="total-profile mt-4">
      <!--One Group profile-->
      <ng-container *ngFor="let item of allCustomer ">
      <div class="one-profile mt-4">
          <label for="audit" class="title-profile" data-profile="audit" [style.color]="item.color" >{{item.title}}<span class="members ml-3">({{item.count}})</span></label>
          <ul class="list-group list-group-flush">
            <ng-container *ngFor="let one of item.list">
              <!--One member-->
              <li class="list-group-item px-0" data-toggle="modal" data-target="#moreDetailInforMemberCurrent" onclick="closeNav('#member-detail'),closeNav('#list-profile')" (click)="getInforPerson(one.id,one.person_id)">
                  <img [attr.src]="one.file" class="avatar ml-2 mr-4" alt="Avatar image" data-profile="audit" [style.border-color]="item.color">
                  <div class="member-infor" style="cursor: pointer;">
                      <a  class="member-position d-block text-dark" style="font-family: KPMGBold; font-weight: bold">{{one.name}}</a>
                      <span class="member-objet text-muted" style="font-size: 13px;">{{one.department}} / {{one.person_id}}</span>
                  </div>
              </li>
              <!--One member-->
          </ng-container>
          </ul>
      </div>
      </ng-container>
      <!--One Group profile-->

  </div>
        </div>
        <!--end List profile-->
<!--More Detail Profile modal box-->
        <div class="detail-member modal fade" id="moreDetailInforMemberCurrent" tabindex="-1" role="dialog" aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 m-4 pr-5">
                        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body h-100 p-0">
                        <div class="container-fluid h-100">
                            <div class="row h-100">
                                <div class="col-4 left">
                                    <div class="p-5 border-right" style="font-family: KPMGBold">
                                        <div class="member-infor-detail d-flex" >
                                            <img src="{{infor.file}}" alt="Avatar Mr-bean" class="avatar mr-4" [style.border-color]="infor.color">
                                            <div class="more-detail text-left">
                                                <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor.color">{{infor.office_location}}</span>
                                                <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                                                <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                                                <span class="sub-name h4 m-0">{{infor.email}}</span>
                                            </div>
                                        </div>

                                          <div class="dob py-3 contact-detail mt-4 h4">
                                                    <div class="title mr-4">DOB</div>
                                                    <div class="dateofbirth bold">{{infor.birthday}}</div>
                                                </div>
                                                <div class="contact py-3 contact-detail h4">
                                                    <div class="title mr-4">Contact</div>
                                                    <div class="list-number d-inline-block bold">
                                                        <div class="number d-block">{{infor.contact_no}}</div>

                                                    </div>
                                                </div>


                                        <div class="top-favorite mt-4">
                                            <div class="my-4 favarite-title h4" data-profile="tax" [style.color]="infor.color" >Top 3 Favorite Zones</div>
                                             <!-- each favorite -->
                                               <ng-container *ngFor="let fv of infor.topzone">
                                               <div class="each-favorite d-flex align-items-center h5">
                                                   <div class="title">{{fv.name}}</div>
                                                   <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax" [style.background]="infor.color"></div>
                                                   <span class="number-percent" data-profile="tax" [style.color]="infor.color">{{fv.percent}} %</span>
                                               </div>
                                               <!-- each favorite -->
                                             </ng-container>

                                        </div>
                                        <!-- button Send Email-->
                                        <button class="btn btn-email btn-lg w-100 font-weight-bold" (click)="getEmail(infor.email)" data-toggle="modal" data-target="#modal-mail-current">Email</button>
                                        <!-- button Send Email-->
                                    </div>
                                </div>
                                <!--Right modal box detail profile-->
                                <div class="col-8 right">
                                    <table class="table table-striped log_table" id="logs-current">
                                        <thead>
                                        <!-- <img src="./assets/images/icon/ico_sort.png" alt="">-->
                                            <tr>
                                                <th scope="col">Day</th>
                                                <th scope="col">Time In</th>
                                                <th scope="col">Zones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let log of logs ">
                                                <td scope="row">{{log.ngay}}</td>
                                                <td>{{log.gio}}</td>
                                                <td class="text-capitalize">{{log.zone_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--End right modal box detail profile-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--More Detail Profile modal box-->

        <!--Box Send Mail-->
   <div class="modal fade" id="modal-mail-current">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header" id="modalbox-email-header-current">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">New Mail</h4>
                  </div>
                  <div class="modal-body">
                      <textarea name="editor1" class="w-100" #description id="editor1"></textarea>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" id="send-mail" (click)="sendMail(description)">Send</button>
                  </div>
              </div>
          </div>
      </div>
     <!--Box Send Mail-->
