<div class="rules" data-toggle="modal" id="rules_component" data-target="#rules" onclick="closeChatBox('#chat-box')"><i class="fas fa-file-alt mr-1"></i> Rules</div>
  <!--Rules-->
 <div class="detail-member modal fade rules-box" id="rules" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close close_list_rule" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body h-100" id="modalbox-rules">
                 <div class="title ml-5 mb-5">F.R.E.D Rules</div>
                 <div class="list-rule">
                     <table class="table table-striped" id="table-rules">
                         <thead>
                         <!-- <img src="./assets/images/icon/ico_sort.png" alt="">-->
                             <tr class="Font-KPMGBold color-fredrules">
                                 <th scope="col"></th>
                                 <th scope="col">Main Condition</th>
                                 <th scope="col">Description </th>
                                 <th style="width: 18%;" class="th_action">Action</th>
                             </tr>
                         </thead>
                         <tbody>
                         <ng-container *ngFor="let item of rules">
                             <tr  class="color-fredrules">
                                 <th scope="row">{{item.id}}</th>
                                 <td>{{item.main_condition}}</td>
                                 <td style="width: 70%;"  [innerHTML]="item.icon_emoji | safe: 'html'"></td>
                                   <td>
                                      <button type="button" class="btn btn-outline-primary btn-edit px-3 py-1 w-50"  data-toggle="modal" data-target="#create-rule" (click)="setUpdate(item.id)"><i class="fa fa-edit"></i> Edit</button>
                                      <button type="button" class="btn btn-outline-danger btn-delete px-3 py-1 w-50" (click)="deleteRule(item.id)"><i class="fa fa-times" > Delete</i></button>
                                    </td>
                             </tr>
                          </ng-container>
                         </tbody>
                     </table>
                 </div>
                 <div class="btn-create-rule btn-danger btn px-5 py-2 text-uppercase font-KPMGBold" data-toggle="modal" data-target="#create-rule" (click)="setAddRule()"> create new rule</div>
             </div>
         </div>
     </div>
 </div>
 <!--End Modal box Rules-->
 <!--Create Rule modal-->
         <div class="detail-member modal fade rules-box" id="create-rule" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-create-rule">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     <div class="modal-body h-100 ">
                         <div class="title ml-5 mb-5 text-capitalize " id="rules-informaition"><img src="./assets/images/icon/ico_left_slide.png" class="mr-3 back" alt="" onclick="closeFormCreate()" >{{title}}</div>
                         <div class="form-create">
                               <!--Choose Type-->
                             <div class="form-group d-flex">
                                 <select class="custom-select mb-2 mr-sm-2 mb-sm-0 " id="type_rules" name="select_type" (change)="checkType(type.value)" #type [(ngModel)]="rule.type">
                                  <option value="" selected disabled hidden class="text-muted"  >Select Type</option>
                                     <option value="1">Type 1</option>
                                     <option value="6">Type 6</option>
                                 </select>
                                 <input type="number" name="txtExternal" class="form-control d-none" placeholder="external..." [(ngModel)]="rule.external">
                             </div>
                                <!--End Choose Type-->
                             <!--Choose operator-->
                             <div class="form-group d-flex">
                                 <select class="custom-select mb-2 mr-sm-2 mb-sm-0 " id="inlineFormCustomSelectCondition" name="selectConditior"  [(ngModel)]="rule.main_condition">
                                   <option value="" selected disabled hidden class="text-muted">Select Main Condition</option>
                                     <option value="$last_visit_day">$last_visit_day</option>
                                 </select>
                                 <select class="custom-select mb-2 mr-sm-2 mb-sm-0 " id="inlineFormCustomSelectOperator" name="selectPrequislte" [(ngModel)]="rule.prerequisite">
                                  <option value="" selected disabled hidden class="text-muted">Select Prerequisite</option>
                                     <ng-container *ngFor="let item of operatorr">
                                     <option value="{{item.operator}}">{{item.operator}}</option>
                                    </ng-container>
                                 </select>
                                 <input type="number" name="txtCondition" class="form-control" placeholder="Enter Additional Condition" [(ngModel)]="rule.additional_condition">
                             </div>
                                 <!-- End Choose operator-->

                             <!--Time Choose-->
                              <div class="form-group d-flex">
                                <input type="text" name="txtCondition" class="form-control timepickerRuleChat mr-2" id="time_start_rules" [(ngModel)]="rule.time_start" #time_start_rules>
                                <input type="text" name="txtCondition" class="form-control timepickerRuleChat"  id="time_end_rules" [(ngModel)]="rule.time_end" #time_end_rules>
                            </div>
                            <!--End Time Choose-->
                              <label class="font-KPMGBold" for="content"  style="font-weight: bold">Content <span class="text-primary">(see more variables)</span></label>
                              <!--Title-->
                               <div class="form-group d-flex" *ngIf="isShowTilteRules">
                                     <input type="text" name="txtCondition" class="form-control" placeholder="Enter Title" [(ngModel)]="rule.title">
                                </div>
                                <!--Tile-->
                            <!-- <textarea class="form-control" placeholder="Enter content..." rows="3" [(ngModel)]="ruleAdd.content"></textarea>-->
                            <div class="chat_editor">
                            			<button id="bold" onclick="boldFunction();" style="cursor: pointer;" class="mr-2"><b>B</b></button>
                            			<input type="color" id="head" name="color" value="#90959a" class="mr-2" list="presetColors"/>
                            			<datalist id="presetColors">
                                      <option>#90959a</option>/>
                                      <option>#000000</option>
                                      <option>#ffffff</option>
                                      <option>#ff0000</option>
                                      <option>#ff9900</option>
                                      <option>#ffff00</option>
                                      <option>#00ff00</option>
                                      <option>#00ffff</option>
                                      <option>#ff00ff</option>
                                      <option>#4a86e8</option>
                                      <option>#0000ff</option>
                                      <option>#9900ff</option>
                                      <option>#dc3545</option>
                                      <option>#007bff</option>
                                      <option>#28a745</option>
                                  </datalist>
                            			<button type="button" class="btn btn-info" id="btn_icon" data-toggle="collapse" data-target="#emoji_custom"></button>
                            			<div class="emoji_box">
                            				<div id="emoji_custom" class="collapse">
                            			  		<div id="content_icon" class="emoji-mart-scroll">
                            			  		</div>
                            		  		</div>
                            			</div>
                            		  <div contenteditable id="content_chat" class="mt-1" onmouseup="setColor();" placeholder="Enter Content..." ></div>
                         </div>
                         <div *ngIf="isAdd" class="btn-add btn-danger btn px-5 py-2 text-uppercase font-KPMGBold" (click)="addRules(time_start_rules.value, time_end_rules.value)">Add Rule</div>
                         <div *ngIf="!isAdd" class="btn-add btn-danger btn px-5 py-2 text-uppercase font-KPMGBold" (click)="updateRules(time_start_rules.value, time_end_rules.value)">Update Rule</div>
                     </div>
                 </div>
        </div>
</div>
</div>


